.modal {
  border: 10px solid black;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modalcontent {
  width: 600px;
  background-color: #fff;
  border: 5px solid black;
}

.modalfooter {
  padding: 10px;
  margin: auto;
  text-align: center;
}
.modaltitle {
  margin: 0;
  text-align: center;
}
.modalbody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.modaldate {
    text-decoration: underline;
    text-align: center;
}
