

.div {
  display: flex;
  position: relative;
  width: 100%;
  background-color: white;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;

}
.div::-webkit-scrollbar {
 display: none;
}

.img {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  width: calc(100%/6);
  box-sizing: border-box;
  margin-bottom: 10px;
  /* object-fit: contain; */
}
.img:focus {
  border: 10px solid red;
  padding: 0;
}

.h2 {
  display: block;
}

@media screen and (max-width: 600px) {
  .img:focus {
    border: 5px solid red;
  }
}
.horlist:focus{
  border: 10px solid red;
}

