.div {
  display: flex;
  position: relative;
  width: 100%;
  background-color: white;
  height: 360px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

.img {
  display:inline;
  position: relative;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 20%;
  box-sizing: border-box;
  height: 400px;
  margin-bottom: 20px;
  /* float: left; */
  
  
}
.img:focus {
    
    border-style: 10px solid red;
}

h2 {
  display: block;
  position: absolute;
}

