
.div {
  display: flex;
  position: relative;
  width: 100%;
  background-color: white;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
}

.img {
  border: 10px solid transparent;
  display: inline;
  position: relative;
  /* padding-right: 10px; */
  padding-bottom: 10px;
  width: calc(100% / 6);
  box-sizing: border-box;
  height: 400px;
  margin-bottom: 20px;
  /* float: left; */
}
.img:focus {
  border: 10px solid red;
  padding: 0;
}

.h2 {
  display: block;
}
